<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.muntashirakon.bcl">

    <permission
        android:name="${applicationId}.permission.CONTROL_BATTERY_CHARGE"
        android:protectionLevel="dangerous"
        android:label="@string/control_battery_charge_permission_label"
        android:description="@string/control_battery_charge_permission_description" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--<uses-permission android:name="android.permission.BATTERY_STATS"/>-->
    <uses-permission android:name="android.permission.RESET_BATTERY_STATS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_adaptive"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppThemeLight.NoActionBar">

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LimitChangeActivity"
            android:label="@string/intent_handle_activity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="@string/mime_battery_limit" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CustomCtrlFileDataActivity"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/AppThemeLight.NoActionBar" />

        <receiver android:name=".receivers.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".receivers.PowerConnectionReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.ControlBatteryChargeReceiver"
            android:permission="${applicationId}.permission.CONTROL_BATTERY_CHARGE">
            <intent-filter>
                <action android:name="${applicationId}.action.CHANGE_LIMIT" />
                <action android:name="${applicationId}.action.TOGGLE" />
                <action android:name="${applicationId}.action.DISABLE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".EnableWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="${applicationId}.action.TOGGLE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/enable_widget" />
        </receiver>

        <service
            android:name=".ForegroundService"
            android:exported="false" />

    </application>
</manifest>